/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет акцента  #2196F3 */
/* цвет логотипа в хедере #000000 */
/* цвет логотипа в футере #FFFFFF */
/* цвет акцента в футере #FFFFFF */
/* цвет адреса в футере rgba(255, 255, 255, 0.6)*/
/*цвет тени кнопки в герои rgba(0, 0, 0, 0.15)*/

:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color-heder: #000000;
  --logo-color-footer: #ffffff;
  --hero-color-title: #ffffff;
  --button-color-title: #ffffff;
  --accent-color-footer: #ffffff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --primery-background-color: #ffffff;
  --section-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --button-background-color: #2196f3;
  --footer-background-color: #2f303a;
  --button-color-shadow: rgba(0, 0, 0, 0.15);
}
/*=================================  BODY  =========================*/
body {
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
.address,
.footer-address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
/*=================================  END BODY  =========================*/

/*=================================  ШАПКА  =========================*/
.header .container {
  display: flex;
  align-items: center;
  outline: 1px solid red;
}
.header {
  background-color: seagreen;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav {
  display: flex;
  align-items: center;
  outline: 1px solid red;
}
.menu-nav {
  display: flex;
  align-items: center;
  outline: 1px solid red;
}
.address-item {
  display: flex;
  align-items: center;
  outline: 1px solid red;
}
.header .logotype {
  margin-right: 93px;
  outline: 1px solid red;
}
.menu-nav-item:not(:last-child) {
  margin-right: 50px;
  outline: 1px solid red;
}
.header .address {
  margin-left: 331px;
}
.addres-contacts:first-child {
  outline: 1px solid red;
  margin-right: 50px;
}
/*
/*

/*
.header .address {
  margin-left: auto;
}


*/
.logotype {
  color: var(--logo-color-heder);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
}
.logotype-text {
  color: var(--accent-color);
}
.logotype:hover,
.logotype:focus {
  color: var(--accent-color);
}
.menu-nav-link-studio,
.menu-nav-link-portfolio,
.menu-nav-link-contacts {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.menu-nav-link-studio:hover,
.menu-nav-link-studio:focus,
.menu-nav-link-studio:active {
  color: var(--accent-color);
}
.menu-nav-link-portfolio:hover,
.menu-nav-link-portfolio:focus,
.menu-nav-link-portfolio:active {
  color: var(--accent-color);
}
.menu-nav-link-contacts:hover,
.menu-nav-link-contacts:focus,
.menu-nav-link-contacts:active {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-mail:active {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus,
.header-tel:active {
  color: var(--accent-color);
}
/*=================================  END ШАПКА  =========================*/

/*=================================  ГЕРОЙ  =========================*/
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* or 136% */

  min-width: 696px;
  height: 120px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color-title);
  margin-bottom: 30px;
}
.modal-btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px var(--button-color-shadow);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: var(--button-color-title);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 10px 32px;
}
.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  color: var(--primery-text-color);
}
/*================================= END ГЕРОЙ  =========================*/

/*=================================  ОСОБЕННОСТИ  =========================*/

.features-title {
  display: none;
}
.features-names {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primery-text-color);
}
.features-information {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*=================================  END ОСОБЕННОСТИ  =========================*/

/*=================================  ЧЕМ МЫ ЗАНИМАЕМСЯ  =========================*/
.occupation-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
/*=================================  END ЧЕМ МЫ ЗАНИМАЕМСЯ  =========================*/

/*=================================  НАША КОМАНДА  =========================*/
.team {
  background-color: var(--section-background-color);
}

.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.team-employee {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.team-profession {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*=================================  END НАША КОМАНДА  =========================*/

/*=================================  ФУТЕР  =========================*/
.footer {
  background-color: var(--footer-background-color);
}

.footer-logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color-footer);
}
.footer-logotype:hover,
.footer-logotype:focus {
  color: var(--accent-color);
}
.footer-maps {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--accent-color-footer);
}
.footer-mail,
.footer-tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--address-color-footer);
}

/*=================================  END ФУТЕР  =========================*/

/*=================================  ПОРТФОЛИО  =========================*/

/*=================================  ПОРТФОЛИО КАТЕГОРИИ  =========================*/
.category-btn-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.category-btn-title:hover,
.category-btn-title:focus,
.category-btn-title:active {
  color: var(--button-color-title);
  background-color: var(--button-background-color);
}
/*=================================  END ПОРТФОЛИО КАТЕГОРИИ  =========================*/

/*=================================  ПОРТФОЛИО УСЛУГИ  =========================*/
.services {
  display: none;
}
.services-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--primery-text-color);
}
.services-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*=================================  END ПОРТФОЛИО УСЛУГИ  =========================*/
